
/* text color */

* {
    color: #555555;
}

input,
textarea,
button,
select,
option {
    color: #111111;
}

input[type=range]:focus:after {
    color: #555555;
}

a{
    color: #1956d8;
}

input.Number {
    color: #069506;
}


/* background color */

.OverlayPanel,
#menubar,
#menubar .menu .options,
#sidebar,
#toolbar
{
    background-color: #eeeeee;
}


/* border color */

.OverlayPanel,
#menubar .menu .options hr,
#sidebar > .Panel,
#sidebar > .Content > .Panel {
    border-color: #cccccc;
}


/* special */

#menubar .menu .options .option:hover {
    color: #FFFFFF;
    background-color: #0088FF;
}

.EllipsisMultilineText:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #eeeeee 50%, #eeeeee);
}
