
/* element */

input.Number {
    color: #0080f0;
}

/* class */

.OverlayPanel {
    background-color: #FFF;
    color: #888;
    border: 1px solid #555;
}

.FancySelect {
    background: #fff;
    border: 1px solid #ccc;
}

    .FancySelect .option {
        color: #666;
    }

    .FancySelect .option.active {
        background-color: #f8f8f8;
    }

.EllipsisMultilineText:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #eee 50%, #eee);
}

/* id */

#menubar {
    background-color: #eee;
}

        #menubar .menu .title {
            color: #888;
        }

        #menubar .menu .options {
            background-color: #eee;
        }

            #menubar .menu .options hr {
                border-color: #ddd;
            }

            #menubar .menu .options .option {
                color: #666;
            }

                #menubar .menu .options .option:hover {
                    color: #fff;
                    background-color: #08f;
                }

#sidebar {
    background-color: #eee;
}

    #sidebar input,
    #sidebar textarea,
    #sidebar select {
        /* background: #ccc; */
    }

    #sidebar > .Panel {
        color: #888;
        border-top: 1px solid #ccc;
    }

    #sidebar > .Content > .Panel {
        color: #888;
        border-top: 1px solid #ccc;
    }

#toolbar {
    background-color: #eee;
    color: #333;
}

    #toolbar .Panel {
        color: #888;
    }
