{
  "parser": "espree",
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "no-constant-condition": 0,
    "valid-jsdoc": 2
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "browser": true,
    "worker": true
  },
  "parserOptions": {
    "sourceType": "module"
  }
}