<VirtualHost *:80>
    ServerName localhost

    WSGIDaemonProcess ngl user=arose group=arose threads=5
    WSGIScriptAlias /ngl /var/www/ngl/ngl.wsgi

    <Directory /var/www/ngl>
        WSGIProcessGroup ngl
        WSGIApplicationGroup %{GLOBAL}
        WSGIScriptReloading On
        WSGIPassAuthorization On
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>