import os

DEBUG = True
HOST = "127.0.0.1"
PORT = 8010

DATA_DIRS = {
	"example_data": os.path.abspath("data/"),
}
MAX_CONTENT_LENGTH = 64 * 1024 * 1024
SEND_FILE_MAX_AGE_DEFAULT = 0
PROXY = 'proxy.charite.de:8080'
REQUIRE_AUTH = False
