import os

DEBUG = True
HOST = "127.0.0.1"
PORT = 8010

MAX_CONTENT_LENGTH = 64 * 1024 * 1024
SEND_FILE_MAX_AGE_DEFAULT = 0
PROXY = None

DATA_DIRS = {
	"example_data": os.path.abspath("data/"),
	# "_hidden": os.path.abspath("/path/hidden/from/dir/listing"),
	# "protected": os.path.abspath("/path/protected"),
}

# Note that only one of REQUIRE_AUTH and REQUIRE_DATA_AUTH
# can be true with the former taken precedence

REQUIRE_AUTH = False
USERNAME = "user"
PASSWORD = "pass"

REQUIRE_DATA_AUTH = True
DATA_AUTH = {
	"protected": [ "user", "test123" ]
}
